/*

color palette:
off-white - #f7f0df
dark blush - #EA9688
light pink - #F9CDCC
orange - #F65035
dark green - #27513E
light green - #C2F1DC
yellow - #FFCD64
light blue - #868FD6
lighter blue - #d9ddfd
dark blue - #3845AD

*/

/* #about-me{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #d9ddfd;
    padding-top: 1rem;
    padding-bottom: 1rem;

}

#about-me-jo-pic{
   margin: auto;
   object-fit: cover;
   border: solid 2px #3845AD;
   border-radius: 50%;

}

#container{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 50%;
} */

/* #big-about{
    display: flex;
    flex-direction: column;
    align-items: center;
} */

#contact {
  display: flex;
  flex-direction: row;
}

#about-page {
  width: 100%;
  height: 100%;
  margin: 0;
  /* padding-bottom: 8rem; */
  background-color: #3845ad;
}

#home-about{
    height: 100vh;
    width: 100vw;
}

#about-container {
  display: flex;
  align-items: center;
  /* flex-direction: column; */
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

#pic-col,
#about-col {
  display: flex;
  flex-direction: column;
  /* border: solid #F65035 3px; */
  align-items: center;
  flex-wrap: wrap;
  flex-grow: 1;
  /* margin: 1rem; */
}

#about-col {
  justify-content: flex-start;
  position: relative;
  top: -250px;
  /* border: solid 3px #F65035; */
}

/* #about-col{
    flex-grow: 3;
} */

#pic-col {
  width: 40%;
  margin-right: 2rem;
  align-self: center;
  animation: slideInLeft;
  animation-duration: 2s;
}

#jo-pic {
  width: 400px;
  height: 440px;
  object-fit: contain;
  position: relative;
  top: -665px;
  right: -150px;
  z-index: 10;
}

#name-title {
  z-index: auto;
  font-size: 10rem;
  text-align: center;
  font-family: "Bebas Neue", sans-serif;
  letter-spacing: 20px;
  text-shadow: 3px 3px 4px #f65035;
  color: #d9ddfd;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 50%;
  align-items: center;
}

#about-col {
  width: 50%;
  animation: slideInRight;
  animation-duration: 2s;
}

#about-col-content {
  width: 50%;
  padding: 1rem;
  font-family: "Sen", sans-serif;
  border-left: solid 1px #d9ddfd;
}

#about-col-content > h1 {
  font-weight: 600;
  animation: bounce;
  animation-duration: 2s;
  color: #d9ddfd;
  border-bottom: dashed 3px #f65035;
  /* padding-bottom: 5px; */
  margin-bottom: 10px;
}

#about-col-content > p {
  /* font-size: 0.5rem; */
  font-size: 18px;
  font-weight: 500;
  color: #d9ddfd;
}

.spacer {
  aspect-ratio: 960/200;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.layer1 {
  background-image: url("/src/components/images/layered-waves-haikei-200.svg");
}
