/*

color palette:
off-white - #f7f0df
dark blush - #EA9688
light pink - #F9CDCC
orange - #F65035
dark green - #27513E
light green - #C2F1DC
yellow - #FFCD64
light blue - #868FD6
lighter blue - #d9ddfd
dark blue - #3845AD

*/

#home-contact{
    width: 100vw;
    height: 100vh;
    background-color: #d9ddfd;
    padding-top: 1rem;
}

.layer2 {
    background-image: url("/src/components/images/layered-waves-haikei-contact-2.svg");
  }