/*

color palette:
off-white - #f7f0df
dark blush - #EA9688
light pink - #F9CDCC
orange - #F65035
dark green - #27513E
light green - #C2F1DC
yellow - #FFCD64
light blue - #868FD6
lighter blue - #d9ddfd
dark blue - #3845AD

*/

#home-contact{
    width: 100vw;
    height: 100vh;
    background-color: #d9ddfd;
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #3845AD;
    font-family: 'Sen', sans-serif;
    /* justify-content: center; */
}

.layer2 {
    background-image: url("/src/components/images/layered-waves-haikei-contact-2.svg");
  }

  #contact-title{
    font-family: 'Sen', sans-serif;
    color: #3845AD;
    align-self: flex-start;
  }

.link-logo{
    height: 75px;
    width: 100px;
    object-fit: cover;
  }

  #email{
    color: #F65035;
  }

  .material-symbols-outlined{
    color: #3845AD;
    font-size: 2rem;
  }

  #email-logo{
    position: relative;
    /* top: -65px; */
  }

  #hold-links{
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* position: absolute; */
    /* left: 10px; */
  }