/*

color palette:
off-white - #f7f0df
dark blush - #EA9688
light pink - #F9CDCC
orange - #F65035
dark green - #27513E
light green - #C2F1DC
yellow - #FFCD64
light blue - #868FD6
lighter blue - #d9ddfd
dark blue - #3845AD

*/

#home-hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: #d9ddfd;
    color: #3845AD;
}

#home-logo{
    height: 550px;
    width: 600px;
    object-fit: cover;
}

#home-h3{
    position: relative;
    text-align: center;
    font-family: 'Sen', sans-serif;
    top: -50px;
    border-bottom: 3px dashed #F65035;
}
