/*

color palette:
off-white - #f7f0df
dark blush - #EA9688
light pink - #F9CDCC
orange - #F65035
dark green - #27513E
light green - #C2F1DC
yellow - #FFCD64
light blue - #868FD6
lighter blue - #d9ddfd
dark blue - #3845AD

*/

#loading-screen{
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: #d9ddfd;
}

#animation-holder{
    display: flex;
    flex-direction: column;
    align-items: center;
animation: pulse 1500ms cubic-bezier(0.76, 0.09, 0.17, 0.68) infinite;
}

#loading-title{
    font-family: 'Sen', sans-serif;
    position: relative;
    color: #3845AD;
    text-shadow: 1px 1px 2px #F65035;
}

#loading-title::after{
    content: '';
    animation: dots 1500ms ease-in-out infinite;
    position: absolute;
}

.spinner{
    /* color: #3845AD; */
    color: #F65035;
    animation: spin 1500ms linear infinite;
}

.circleAnimation{
    stroke-opacity: 0.6;
}

@keyframes spin{
    from{
        transform: rotate(0deg);
    }

    to{
        transform: rotate(360deg);
    }
}

@keyframes pulse {
    0%, 100%{
        opacity: 1;
    }

    60%{
        opacity: 0.8;
    }
}

@keyframes dots {
    0%{
        content: '';
    }

    33%{
        content: '.';
    }
    66%{
        content: '..';
    }
    100%{
        content: '...';
    }
}