/*

color palette:
off-white - #f7f0df
dark blush - #EA9688
light pink - #F9CDCC
orange - #F65035
dark green - #27513E
light green - #C2F1DC
yellow - #FFCD64
light blue - #868FD6
lighter blue - #d9ddfd
dark blue - #3845AD

*/


#my-work-div{
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #d9ddfd;
}

#my-work-div > h2{
    font-family: 'Sen', sans-serif;
    color: #3845AD;
    border-bottom: solid 3px #F65035;
}

/* image grid styling */
#images{
    --gap: 16px;
    --num-cols: 4;
    --row-height: 300px;

    box-sizing: border-box;
    padding: var(--gap);

    width: 65%;

    display: grid;
    grid-template-columns: repeat(var(--num-cols), 1fr);
    grid-auto-rows: var(--row-height);
    gap: var(--gap);
}

#images > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#images > img:nth-of-type(2){
    grid-column: span 2;
    grid-row: span 2;
}



@media screen and (max-width: 1024px) {
    #images{
        --num-cols: 2;
        --row-height: 200px;
    }
}