/*

color palette:
off-white - #f7f0df
dark blush - #EA9688
light pink - #F9CDCC
orange - #F65035
dark green - #27513E
light green - #C2F1DC
yellow - #FFCD64
light blue - #868FD6
lighter blue - #d9ddfd
dark blue - #3845AD

*/



#test-about-page{
    width: 100vw;
    height: 100vh;
    display: flex;
    background-color: #3845AD;
    color: #d9ddfd;
    font-family: 'Sen', sans-serif;
    
}

#about-content{
    display: flex;
    flex-direction: column;
    margin: 40px;
    justify-content: center;
}

#about-content > p{
    font-size: 1.3rem;
    font-weight: 600;
}

.slideUp{
    animation: fadeInLeft;
    animation-duration: 1.5s;
}

#about-name{
    font-family: 'Trochut', sans-serif;
    font-weight: 700;
    font-size: 3rem;
    letter-spacing: 2px;
    text-shadow: 2px 2px 3px #F65035;
    border-bottom: #F65035 dashed 3px;
}

#about-photo{
    display: flex;
    flex-direction: column;
}


#jo-photo{
    height: 100vh;
    width: 45vw;
}



#photo-container{
    height: 100vh;
    width: 45vw;
    background-image: url("../images/headshot-1.JPEG");
    background-size: cover;
    border-left: solid 5px #F65035;
}